<a href="https://colab.research.google.com/github/VarijaGupte/AICS/blob/main/AICS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#DICTIONARY EX 1
d = {"name": "Tom", "age":10}
key = "phone"
if key in d:
    print("Key exists")
else:
    print("Not exists")

Not exists

In [5]:
#DICTIONARY EX2
d1 = {'a':1, 'b':2}
d1 = {'c':1, 'd':2}
d2.update(d1)
d2

{'c': 1, 'd': 2, 'a': 1, 'b': 2}

In [13]:
#DICTIONARY EX3
d = {'ob1':'computer', 'ob2':'mouse', 'ob3':'printer'}
del d['ob1']
print(d)

{'ob2': 'mouse', 'ob3': 'printer'}

In [14]:
#LIST EX1
list1 = [1, 2, 3, 'Education']
for i in range(7, 9):
    list1.append(i)
print(list1)

[1, 2, 3, 'Education', 7, 8]

In [15]:
#LIST EX2
list1.remove(2)
print(list1)

[1, 3, 'Education', 7, 8]

In [16]:
#LIST  EX3
print(list1[2:])

['Education', 7, 8]